#home-container{
    display: flex;
   
    
    #feed-posts{
        width: 67%;
        padding: 10px;
    }

    #user-friends{
        width: 33%;
        padding: 10px;
        border-left: 1px solid black;
        height: 100%;
    }
}
body{
    background-color: whitesmoke;
}